body {
    background: linear-gradient(45deg, #f5d583, #f39f99, #ee8ea8); /*Cores para simular o por do sol*/
    animation: goldenHour 10s infinite alternate;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
@keyframes goldenHour {
    0% {background: linear-gradient(45deg, #ff9a8b, #f1b5b1, #f17395);}
    50% {background: linear-gradient(45deg, #f3cd91, #f5d19b, #f0a158);}
    100% {background: linear-gradient(45deg, #ff9a8b, #f7d89f, #f0a6ba);}
}
h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #f1ece5;
    margin-bottom: 0;
}
.profile {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}
.profile-img {
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    width: 250px;
    height: 250px;
    max-width: 100%;
}
h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
p {
    font-size: 1.2rem;
    font-weight: lighter;
}
.social-icon {
    display: flex;
    justify-content: center;
    gap: 25px;
    transition: transform 0.2s ease, box-shadow 0.2s;
    cursor: pointer;
    flex-wrap: wrap;
}
.social-icon a {
    font-size: 2rem;
    transition: transform 0.2s ease;
}
.social-icon:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 
}
#heart {
    font-size: 2rem;
    color: #ff6a5e;
    animation: pulse 1.5s infinite;
    transform-origin: center;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .profile-img {
        width: 150px;
        height: 150px;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .social-icon {
        gap: 15px;
    }
}